.quiqqer-faq-control-categoryList--default {
    --_container-maxWidth: var(--container-maxWidth, initial);
    --_box-bgColor: var(--box-bgColor, #f8f8f8);
    --_box-padding: var(--box-padding, 1.5em);
    --_box-borderRadius: var(--box-borderRadius, .5rem);
    --_box-borderWidth: var(--box-borderWidth, 0);
    --_box-borderColor: var(--box-borderColor, inherit);
    --_btn-alignment: var(--btn-alignment, var(--settings--qui-faq-control-categoryList-btnAlignment, stretch));
    --_text-flexbox-alignment: var(--text-flexbox-alignment, var(--settings--qui-faq-control-categoryList-textFlexboxAlignment, left));
    --_text-alignment: var(--text-alignment, var(--settings--qui-faq-control-categoryList-textAlignment, left));
    --_image-width: var(--image-width, var(--settings--qui-faq-control-categoryList-imageWidth, 10rem));
    --_image-alignment: var(--image-alignment, var(--settings--qui-faq-control-categoryList-imageAlignment, center));
}

.quiqqer-faq-control-categoryList--default :where(.entries) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin-inline: auto;
    max-width: var(--_container-maxWidth);
}

.quiqqer-faq-control-categoryList--default :where(.entry) {
    display: flex;
    flex-direction: column;
    padding: var(--_box-padding);
    border: var(--_box-borderWidth) solid var(--_box-borderColor);
    background: var(--_box-bgColor);
    border-radius: var(--_box-borderRadius);
}

.quiqqer-faq-control-categoryList--default :where(.entry__image) {
    margin-bottom: 0.5em;
    max-width: var(--_image-width);
    align-self: var(--_image-alignment);
}

.quiqqer-faq-control-categoryList--default :where(.entry__title) {
    margin-bottom: 0.5em;
    font-size: 1.125em;
    font-weight: bold;
    text-align: var(--_text-alignment);
    align-self: var(--_text-flexbox-alignment);
}

.quiqqer-faq-control-categoryList--default :where(.entry__desc) {
    margin-bottom: 1.5em;
    text-align: var(--_text-alignment);
    align-self: var(--_text-flexbox-alignment);
}

.quiqqer-faq-control-categoryList--default :where(.entry__title):not(:hover) {
    color: inherit;
}

.quiqqer-faq-control-categoryList--default :where(.entry__btn) {
    margin-top: auto;
    align-self: var(--_btn-alignment);
}

.quiqqer-faq-control-categoryList--default :where(.entry__separator) {
    margin-block: 0 1.5em;
}

.quiqqer-faq-control-categoryList--default :where(.entry__list) {
    list-style: none;
    padding: 0;
}

.quiqqer-faq-control-categoryList--default :where(.entry__list-item) {
    padding-left: 0;
    margin: 0 0 .75em 0;
}

.quiqqer-faq-control-categoryList--default :where(.entry__list-item-link) {
    display: flex;
    gap: 0.5em;
}

.quiqqer-faq-control-categoryList--default :where(.entry__list-item-link:not(:hover,.active,.focus)) {
    color: inherit;
}

.quiqqer-faq-control-categoryList--default :where(.entry__list-item-link__icon) {
    margin-left: auto;
    line-height: inherit;
}